@keyframes animate {
  0% {
    background-position: -500%; }
  100% {
    background-position: 500%; } }

@keyframes animate_small {
  0% {
    background-position: -190%; }
  30% {
    background-position: 190%; }
  100% {
    background-position: 190%; } }

@keyframes blink {
  0% {
    background-color: rgba(63, 63, 63, 0.5); }
  65% {
    background-color: rgba(186, 186, 186, 0.5); }
  80% {
    ackground-color: black; }
  100% {
    background-color: rgba(63, 63, 63, 0.5); } }

.vid_b {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  width: 10vh;
  height: 100%;
  z-index: -1;
  display: cover; }

.c-overlay {
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  min-width: fit-content;
  background: rgba(43, 117, 119, 0.55); }

.overlay {
  z-index: -1;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: fit-content;
  background: rgba(58, 58, 58, 0.8); }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 40px;
  top: 35px;
  cursor: pointer;
  transition: all 0.7s ease-out; }
  .menu-btn .btn-line {
    width: 30px;
    height: 4px;
    margin: 0 0 5px 0;
    transition: all 0.7s ease-out;
    background: #fff; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
      transition: all 2s; }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0;
      transition: all 0.7s; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
      transition: all 2s; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible;
    transition: all 1s ease-in; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #282828;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.7s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #303030;
    transform: translate3d(0, 100%, 0);
    transition: all 0.7s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .poterait {
      width: 300px;
      height: 300px;
      background: url("../img/me.jpg");
      border-radius: 50%;
      border: solid 3px #fc320a;
      opacity: 1; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.7s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #fc320a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: all 0.7s ease-out; }
    .menu .nav-link:hover {
      color: #fc320a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

@keyframes animate {
  0% {
    background-position: -500%; }
  100% {
    background-position: 500%; } }

@keyframes animate_small {
  0% {
    background-position: -190%; }
  30% {
    background-position: 190%; }
  100% {
    background-position: 190%; } }

@keyframes blink {
  0% {
    background-color: rgba(63, 63, 63, 0.5); }
  65% {
    background-color: rgba(186, 186, 186, 0.5); }
  80% {
    ackground-color: black; }
  100% {
    background-color: rgba(63, 63, 63, 0.5); } }

.vid_b {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  width: 10vh;
  height: 100%;
  z-index: -1;
  display: cover; }

.c-overlay {
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  min-width: fit-content;
  background: rgba(43, 117, 119, 0.55); }

.overlay {
  z-index: -1;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: fit-content;
  background: rgba(58, 58, 58, 0.8); }

.proj {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 75vh;
  width: 75vh;
  min-height: fit-content;
  margin: auto;
  padding: 30px;
  background-color: rgba(33, 33, 33, 0.9);
  border-radius: 32px;
  z-index: 2;
  visibility: hidden;
  transform: scale(0.1);
  border: 2px solid #fff;
  transition: all 0.7s ease-out; }
  .proj .phead {
    color: #fc320a;
    margin-top: 10px; }
  .proj.show {
    visibility: visible;
    transform: scale(1); }
  .proj p {
    text-align: center; }
  .proj .phead {
    text-align: center; }

.red-btn {
  background: red;
  border-radius: 50%;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 20px;
  right: 20px; }

* {
  box-sizing: border-box; }

body {
  background-color: #3a3a3a;
  color: #fff;
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body #cnt-img {
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 2px; }
    body #cnt-img video {
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      height: 100vh;
      object-fit: cover; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 2px;
    /*.overlay {
        z-index: 1;
        padding: 0;
        margin: 0;
        top: 0;
        right: 0;
        min-width: fit-content;
        min-height: fit-content;
        width: 100%;
        height: 100%;

        background: rgba($primary-color, 0.78);
      }*/ }
  body#about-img {
    background: url(../img/about.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 2px; }
    body#about-img .overlay {
      z-index: -1;
      padding: 0;
      margin: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, rgba(186, 186, 186, 0.5), rgba(58, 58, 58, 0.5), rgba(58, 58, 58, 0.5), rgba(58, 58, 58, 0.5)); }
  body#work-img {
    background: url(../img/b1.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 2px; }
    body#work-img .overlay {
      z-index: -1;
      padding: 0;
      margin: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(58, 58, 58, 0.9); }

.blurnow {
  filter: blur(7px); }

.blurnow_ext {
  filter: blur(30px); }

.darken {
  background-color: #7a7a7a; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-weight: 600;
    font-size: 5rem;
    padding-bottom: 20px;
    height: fit-content;
    position: relative;
    overflow: hidden;
    color: #000; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    border: solid 1px #111;
    width: fit-content;
    padding: 0.2rem 7rem 0 1rem;
    background-color: rgba(71, 71, 71, 0.75); }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #fc320a;
  font-size: 3rem; }

main {
  padding: 4rem;
  height: fit-content;
  min-height: calc(100vh - 40px); }
  main#home {
    height: fit-content; }
    main#home h1 {
      margin-top: 20vh; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem;
      /*.fa-facebook {
        &:hover {
          color: $facebook-blue;

          @include easeOut();
        }
      }*/ }
      main .icons a:hover {
        color: #fc320a;
        cursor: none;
        transition: all 0.7s ease-out; }

#about {
  transition: all 0.7s ease-out;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  #about .lg-heading {
    font-size: 4rem; }
  #about .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "bioimage bio bio" "job1 job2 job3";
    grid-template-columns: repeat(3, 1fr); }
    #about .about-info .bio-image {
      grid-area: bioimage;
      margin: auto;
      border: solid 3px #fc320a;
      border-radius: 50%; }
    #about .about-info .bio {
      grid-area: bio;
      font-size: 1.3rem; }
      #about .about-info .bio p {
        margin-top: 2px; }
    #about .about-info .job-1 {
      grid-area: job1; }
      #about .about-info .job-1:hover {
        background: #2d2d2d;
        z-index: 2;
        transform: scale(1.5, 1.5);
        transform-origin: left bottom; }
    #about .about-info .job-2 {
      grid-area: job2; }
      #about .about-info .job-2:hover {
        background: #2d2d2d;
        z-index: 2;
        transform: scale(1.5, 1.5);
        transform-origin: bottom; }
    #about .about-info .job-3 {
      grid-area: job3; }
      #about .about-info .job-3:hover {
        background: #2d2d2d;
        z-index: 2;
        transform: scale(1.5, 1.5);
        transform-origin: right bottom; }
    #about .about-info .job {
      background: #474747;
      z-index: 1;
      padding: 0.5rem;
      border-radius: 25px;
      border-bottom: #fc320a 5px solid;
      transition: all 0.7s ease-out; }
      #about .about-info .job h4 {
        font-weight: 50;
        margin: 10px 0; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px solid #fff; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #fc320a;
      transition: all 0.7s ease-out; }

.btn, .btn-dark, .btn-light {
  display: block;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  transition: all 0.5s ease-in-out; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background-color: #fc320a;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #6d6d6d;
  color: #fff; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;
    transition: all 0.7s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #2bc4cf;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

#main-footer {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: #141414;
  color: set-test-color(#3a3a3a);
  height: 40px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); }
  h1 .lg-heading {
    animation: animate 2s linear infinite; } }

@media screen and (min-width: 769px) and (max-width: 1170) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
  h1 .lg-heading {
    animation: animate 2s linear infinite; } }

@media screen and (max-width: 768px) {
  .proj {
    min-height: fit-content;
    margin: 25px 10px;
    height: 95%;
    width: 95%; }
  #about .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr; }
    #about .about-info .job-1:hover {
      transform: scale(1.05);
      transform-origin: bottom; }
    #about .about-info .job-2:hover {
      transform: scale(1.05);
      transform-origin: bottom; }
    #about .about-info .job-3:hover {
      transform: scale(1.05);
      transform-origin: bottom; }
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-top: 10vh;
      margin-bottom: 1rem;
      font-size: 4rem;
      animation: animate 1.6 s linear infinite; }
    main .sm-heading {
      text-align: center;
      font-size: 1.5rem;
      width: 100%;
      padding: 3px; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    transition: all 0.7s ease-out; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .poterait {
      background: url(../img/mesmall.jpg);
      width: 150px;
      height: 150px; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.7s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .projects {
    grid-template-columns: repeat(2, 1fr); }
    .projects img {
      border-radius: 32px; } }

@media screen and (max-width: 500px) {
  #about .about-info .job-1:hover {
    transform: scale(1); }
  #about .about-info .job-2:hover {
    transform: scale(1); }
  #about .about-info .job-3:hover {
    transform: scale(1); }
  .overlay {
    border-radius: 30px; }
  main {
    padding: 1.5rem 0.5rem 1rem 0.5rem; }
  .projects {
    grid-template-columns: repeat(1, 1fr); }
  .boxes div {
    font-size: 1rem;
    padding: 0.5rem 1rem; }
    .boxes div span {
      color: #000;
      font-size: 2rem; } }

.nav-item:nth-child(1) {
  transition-delay: 0.2s; }

.nav-item:nth-child(2) {
  transition-delay: 0.4s; }

.nav-item:nth-child(3) {
  transition-delay: 0.6s; }

.nav-item:nth-child(4) {
  transition-delay: 0.8s; }
