$primary-color: rgb(58, 58, 58);
//$secondary-color: #eece1a;
$secondary-color: #fc320a;
$glow-color: rgb(43, 196, 207);
$abt-color: #5b3100;
//$facebook-blue: #3c5a99;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$about-image: url(../img/about.jpg);
$work-image: url(../img/b1.jpg);
$vid: url(../vid/back1.mp4);
$background-opacity: 0.8;

@mixin easeOut {
  transition: all 0.7s ease-out;
}
@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}
@keyframes animate_small {
  0% {
    background-position: -190%;
  }

  30% {
    background-position: 190%;
  }
  100% {
    background-position: 190%;
  }
}
@keyframes blink {
  0% {
    background-color: rgba(lighten($primary-color, $amount: 2), 0.5);
    //columns: #fff;
  }
  65% {
    background-color: rgba(lighten($primary-color, $amount: 50), 0.5);
    //color: #000;
  }
  80% {
    ackground-color: rgba(darken($primary-color, $amount: 50), 1);
  }
  100% {
    background-color: rgba(lighten($primary-color, $amount: 2), 0.5);
  }
}

.vid_b {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  width: 10vh;
  height: 100%;
  z-index: -1;
  display: cover;
}

.c-overlay {
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  min-width: fit-content;

  //background: rgba(rgb(43, 117, 119), 0.55);
  background: rgba(41, 36, 78, 0.55);
}

#abt-vdo {
  position: absolute;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  margin: 2px;
  z-index: -1;

  video {
    z-index: -1;
    top: 0;
    left: 0;

    position: fixed;
    width: 100%;
    height: 100vh;

    object-fit: cover;
    opacity: 0.15;
    filter: contrast(150%) saturate(100%) hue-rotate(-170deg);
  }
}
@mixin background {
  @if $show-home-image {
    #cnt-img {
      //  background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      height: 100vh;
      margin: 2px;

      video {
        top: 0;
        left: 0;
        // right: 0;
        // bottom: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        // height: 100%;
        // overflow: hidden;
        // min-width: 100%;
        // min-height: 100%;
        object-fit: cover;
      }
    }
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      height: 100vh;
      margin: 2px;

      /*.overlay {
        z-index: 1;
        padding: 0;
        margin: 0;
        top: 0;
        right: 0;
        min-width: fit-content;
        min-height: fit-content;
        width: 100%;
        height: 100%;

        background: rgba($primary-color, 0.78);
      }*/
    }
  }
  &#about-img {
    background: $about-image;
    background-attachment: fixed;
    background-size: cover;
    margin: 2px;

    .overlay {
      position: absolute;
      z-index: -1;
      padding: 0;
      margin: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(red, 0);
      /*background: linear-gradient(
        135deg,
        rgba(lighten($primary-color, 50), 0.5),
        rgba($primary-color, 0.5),
        rgba($primary-color, 0.5),
        rgba($primary-color, 0.5)
      );*/
      //background-color:
      // background: linear-gradient(90deg, rgba(#fff, 1), rgba(#000, 1));
    }
  }
  &#work-img {
    background: $work-image;
    background-attachment: fixed;
    background-size: cover;
    margin: 2px;

    .overlay {
      z-index: -1;
      padding: 0;
      margin: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;

      background: rgba($primary-color, 0.9);
    }
  }
}
.overlay {
  z-index: -1;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: fit-content;

  background: rgba($primary-color, $background-opacity);
}
//set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

//media query mixin
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
