@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  h1 {
    .lg-heading {
      animation: animate 2s linear infinite;
    }
  }
}
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    .lg-heading {
      animation: animate 2s linear infinite;
    }
  }
}

@include mediaMd {
  .proj {
    //position: relative;
    min-height: fit-content;
    margin: 25px 10px;
    height: 95%;
    width: 95%;
  }

  .darken {
    background-color: rgba(lighten($primary-color, $amount: 1), 0.7);
  }
  #about {
    .about-info {
      grid-template-areas:
        "bioimage"
        "bio"
        "job1"
        "job2"
        "job3";
      grid-template-columns: 1fr;

      .job {
        &:hover {
          background: rgba(darken($abt-color, 20), 0.7);
        }
      }

      /*.job-1 {
        &:hover {
          transform: scale(1.05);
          transform-origin: bottom;
        }
      }
      .job-2 {
        &:hover {
          transform: scale(1.05);
          transform-origin: bottom;
        }
      }
      .job-3 {
        &:hover {
          transform: scale(1.05);
          transform-origin: bottom;
        }
      }*/
    }
  }

  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-top: 10vh;
      margin-bottom: 1rem;
      font-size: 4rem;

      animation: animate 1.6 s linear infinite;
    }

    .sm-heading {
      text-align: center;
      font-size: 1.5rem;
      width: 100%;
      padding: 3px;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    @include easeOut;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu {
    &-nav {
      height: 75vh;
      transform: translate3d(-100%, 0, 0);
      font-size: 24px;
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
    &-branding {
      height: 25vh;
      transform: translate3d(100%, 0, 0);
      &.show {
        transform: translate3d(0, 0, 0);
      }

      .poterait {
        background: url(../img/mesmall.jpg);
        width: 150px;
        height: 150px;
      }
    }
    .nav-item {
      transform: translate3d(600px, 0, 0);

      @include easeOut;
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    img {
      border-radius: 32px;
    }
  }
}

@include mediaSm {
  /*#about {
    .about-info {
      .job {
         &:hover {
          transform: scale(1);
        }
      }
      .job-1 {
        &:hover {
          transform: scale(1);
        }
      }
      .job-2 {
         &:hover {
          transform: scale(1);
        }
      }
      .job-3 {
        &:hover {
          transform: scale(1);
        }
      }
    }
  }*/
  .overlay {
    border-radius: 30px;
  }

  main {
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    // padding: 0.5rem;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .boxes {
    div {
      font-size: 1rem;

      padding: 0.5rem 1rem;

      span {
        //color: set-text-color(rgb(43, 196, 207));
        font-size: 2rem;
      }
    }
  }
}

@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.2s;
  }
}
