@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  h1 {
    .lg-heading {
      animation: animate 2s linear infinite;
    }
  }
}
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    .lg-heading {
      animation: animate 2s linear infinite;
    }
  }
}

@include mediaMd {
  #about {
    .about-info {
      grid-template-areas:
        "bioimage"
        "bio"
        "job1"
        "job2"
        "job3";
      grid-template-columns: 1fr;

      .job-1 {
        &:hover {
          transform: scale(1.05);
          transform-origin: bottom;
        }
      }
      .job-2 {
        &:hover {
          transform: scale(1.05);
          transform-origin: bottom;
        }
      }
      .job-3 {
        &:hover {
          transform: scale(1.05);
          transform-origin: bottom;
        }
      }
    }
  }

  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 2rem;
      font-size: 4rem;

      animation: animate 1.6 s linear infinite;
    }

    .sm-heading {
      font-size: 1.5rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translateed(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .poterait {
      background: url(../img/mesmall.jpg);
      width: 150px;
      height: 150px;
    }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mediaSm {
  #about {
    .about-info {
      .job-1 {
        &:hover {
          transform: scale(1);
        }
      }
      .job-2 {
        &:hover {
          transform: scale(1);
        }
      }
      .job-3 {
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
  .overlay {
    border-radius: 20px;
  }

  main {
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    // padding: 0.5rem;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
