@import "menu";
@import "config";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  min-height: 100%;
  height: 100%;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.blurnow {
  filter: blur(7px);
}

.darken {
  background-color: lighten($primary-color, $amount: 25);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-weight: 400;
    font-size: 4rem;
    //margin-bottom: 5px;
    padding-bottom: 20px;
    color: transparent;
    height: fit-content;

    background: linear-gradient(
      -80deg,
      #000,
      #000,
      #000,
      #000,
      #000,
      #000,
      #000,
      rgb(204, 204, 204),
      #000,
      #000,
      #000,
      #000,
      #000,
      #000
    );

    // background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-size: 80%;
    animation: animate 1.5s linear infinite;
  }

  &.sm-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    border: solid 1px #111;
    width: fit-content;
    padding: 0.2rem 7rem 0 1rem;
    background-color: rgba(lighten($primary-color, $amount: 2), 0.5);
    //animation: blink 1.5s linear infinite;
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  height: 100%;
  min-height: calc(100vh - 40px);

  &#home {
    //overflow: hidden;
    height: fit-content;
    h1 {
      margin-top: 20vh;
    }
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      /*.fa-facebook {
        &:hover {
          color: $facebook-blue;

          @include easeOut();
        }
      }*/
      &:hover {
        color: $secondary-color;
        cursor: none;
        @include easeOut();
      }
    }
  }
}
#about {
  @include easeOut;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .lg-heading {
    font-size: 4rem;
  }
  .about-info {
    display: grid;
    grid-gap: 30px;

    grid-template-areas:
      "bioimage bio bio"
      "job1 job2 job3";
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
      grid-area: bioimage;
      margin: auto;
      border: solid 3px $secondary-color;
      border-radius: 50%;
    }

    .bio {
      grid-area: bio;
      font-size: 1.3rem;
      p {
        margin-top: 2px;
      }
    }
    .job-1 {
      grid-area: job1;
      &:hover {
        background: darken($primary-color, 5);
        z-index: 2;
        transform: scale(1.5, 1.5);
        transform-origin: left bottom;
      }
    }
    .job-2 {
      grid-area: job2;
      &:hover {
        background: darken($primary-color, 5);
        z-index: 2;
        transform: scale(1.5, 1.5);
        transform-origin: bottom;
      }
    }
    .job-3 {
      grid-area: job3;
      &:hover {
        background: darken($primary-color, 5);
        z-index: 2;
        transform: scale(1.5, 1.5);
        transform-origin: right bottom;
      }
    }

    .job {
      background: lighten($primary-color, 5);
      z-index: 1;
      padding: 0.5rem;
      border-bottom: $secondary-color 5px solid;
      @include easeOut;

      h4 {
        font-weight: 50;
        margin: 10px 0;
      }
    }
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    //height: 100%;
    border: 3px solid #fff;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// button style
.btn {
  display: block;

  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;

  background: darken($primary-color, $amount: 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, $amount: 20);
  color: #fff;
}

//contact page

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: darken($primary-color, 15);
  color: set-test-color($primary-color);
  height: 40px;
}

@import "mobile";
